/* СТАРЫЙ ВАРИАНТ ДИЗАЙНА (ИЗ ВИДЕО)*/


* {
    box-sizing: border-box;
}

body {
    margin: 0; /* Убираем отступы по краям страницы */
}

header {
    padding: 32px;
    text-align: center;
}

  /* ROW - это КОНТЕЙНЕР для колонок */
    /* display: flex - включает flexbox (гибкую раскладку) */

.row {
    display: flex; /* Делаем контейнер гибким */
    flex-wrap: wrap; /* Разрешаем элементам переноситься на новую строку, если не помещаются */
    padding: 0 4px; /*Небольшой отступ по бокам*/

}

/* COLUMN - это отдельная колонка внутри row */

.column {
    flex: 25%; /* Каждая колонка занимает 25% ширины родителя (row) */
    max-width: 25%; /* Максимальная ширина тоже 25% */
    padding: 0 4px; /* Отступы между колонками */

}

/* Стили для картинок ВНУТРИ колонок */
.column img {
      margin-top: 8px; /* Отступ сверху между картинками */
      vertical-align: middle; /* Выравнивание по вертикали */
      width: 100%; /* Картинка растягивается на всю ширину колонки */
      
    }

    /* АДАПТИВНОСТЬ: экраны от 800px */
    /* @ media - это "медиа-запрос", он срабатывает при определенной ширине экрана */

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
} 